<div style="margin: 0 auto; width: 800px; background: #fff;">
	<!-- Logo -->
	<div style="width: 100%; text-align: center; padding-top: 21px;">
		<img border="0" src="images/chart.jpg" border="0" />
	</div>
	<!-- End logo -->

	<!-- top text -->
	<div style="width: 100%; text-align: center; padding-top: 120px;">
		<img border="0" src="images/center_txt.jpg" />
	</div>
	<!-- end top text -->

	<!-- logo -->
	<div style="float:right; width: 167px; padding-top: 99px; margin-right: 50px;">
		<div style="text-align:center;">
			<a href="http://www.nimbus9usa.com" target="blank"><img border="0" src="images/logo.png"></a>
		</div>		
		<div style="padding-top: 15px; text-align:center;">
			<a href="http://www.nimbus9usa.com/catalog/cirrus" target="blank"><img border="0" src="images/get_sample.jpg"></a>
		</div>
		<div style="padding-top: 15px; text-align:center;">
			<img border="0" src="images/call_us.jpg" />
		</div>
	</div>
	<!-- logo -->

	<!-- footer -->
	<div style="float:left; width:100%; height: 67px; background-color:#181818; margin-top: 41px;">
		<div style="float:left; padding: 21px 0 0 36px;">
			<span style="padding-right: 5px;"><a target="blank" href="http://www.nimbus9usa.com/Home/ourStory" style="color:#fff; font-family: Tahoma; font-size: 10pt; font-weight:bold; text-decoration: none;">About Us</a></span>
			<span style="padding-right: 5px;"><a target="blank" href="http://nimbus9usa.com/catalog/phantom#sample-form" style="color:#fff; font-family: Tahoma; font-size: 10pt; font-weight:bold; text-decoration: none;">Contact Us</a></span>
			<span><a target="blank" href="http://www.nimbus9usa.com/privacy-policy" style="color:#fff; font-family: Tahoma; font-size: 10pt; font-weight:bold; text-decoration: none;">Privacy Policy</a></span>
		</div>

		<div style="float:right; padding: 12px 30px 0 0;">
			<span><a target="blank" href="https://www.facebook.com/Nimbus9Official/"><img border="0" src="http://diennuocmientrung.com/wp-content/themes/images/fb.png" /></a></span>
			<span><a target="blank" href="https://www.linkedin.com/company/nimbus9"><img border="0" src="http://diennuocmientrung.com/wp-content/themes/images/linkin.png" /></a></span>
			<span><a target="blank" href="https://www.youtube.com/watch?v=dWURGAjTMyk"><img border="0" src="http://diennuocmientrung.com/wp-content/themes/images/youtube.png" /></a></span>
			<span><a target="blank" href="https://www.instagram.com/nimbus9official/"><img border="0" src="http://diennuocmientrung.com/wp-content/themes/images/icon4.png" /></a></span>
		</div>
	</div>
</div>